<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
      <ul class="flex  xl:max-w-[1200px] 2xl:max-w-[1353px]  max-[1280px]:flex-col w-full  min-[1280px]:items-center gap-[15px] mt-[40] max-[1270px]:px-[24px] max-[768px]:px-[24px] min-[1280px]:mt-[91px] max-[1281px]:max-w-[1140px] max-[1920]:max-w-[1206px] min-[1920px]:max-w-[1351px] max-[1280px]:h-[491px] max-[1920px]:h-[93px] min-[1920]:h-[124px] text-[#2E2C30]">
      <li class="border-l-2 border-[#EF3824] px-[16px] h-full">
        <h2 class="text-[34px] min-[1920px]:text-[42px] font-bold text-nowrap">
          > 600 проектов
        </h2>
        <p class="max-[1920px]:text-[16px] text-[18px]">в России и зарубежом</p>
      </li>
      <li class="border-l-2 border-[#EF3824] px-[16px] h-full flex flex-col ">
        <h2 class="text-[34px] min-[1920px]:text-[42px] font-bold">> 500 видов</h2>
        <p class="max-[1920px]:text-[16px] text-[18px]">
          светильников на собственном заводе в Тульской области
        </p>
      </li>
      <li class="border-l-2 border-[#EF3824] px-[16px] h-full flex flex-col ">
        <h2 class="text-[34px] min-[1920px]:text-[42px] font-bold text-nowrap">17 лет</h2>
        <p class="text-nowrap max-[1920px]:text-[16px] text-[18px]">успешных проектов</p>
      </li>
      <li class="border-l-2 border-[#EF3824] flex flex-col justify-center min-[391px]:justify-end px-[16px] h-full pb-[16px]">
        <h2 class="text-[34px] min-[1920px]:text-[42px] font-bold">  </h2>
        <p class="max-[1920px]:text-[16px] text-[18px]">Полный цикл ведения проекта</p>
      </li>
      <li class="border-l-2 border-[#EF3824] flex flex-col justify-end px-[16px] h-full pb-[16px]">
        <h2 class="text-[34px] min-[1920px]:text-[42px] font-bold">  </h2>
        <p class="max-[1920px]:text-[16px] text-[18px]">Документы и сертификаты</p>
      </li>
    </ul>
</body>
</html>